@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>


    .scene {
        perspective: 800px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: -50% !important;
    }

    .cube {
        transform-style: preserve-3d;
        position: relative;
        width: 300px;
        height: 300px;
        animation: rotate 20s ease-in-out infinite;
        transform-origin: center center;
    }

    .side {
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: #333;
        opacity: 0.95;
        background-size: cover;
        background-repeat: no-repeat;
    }

    body {
        background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5c5c5c&density=13&opacity=62);
    }

    .back {
        transform: translateZ(-150px) rotateX(180deg);
        background-image: url('../images/o3.jpg');
    }

    .left {
        transform: translateX(-150px) rotateY(90deg);
        background-image: url('../images/o1.jpg');
    }

    .right {
        transform: translateX(150px) rotateY(90deg);
        background-image: url('../images/o2.jfif');
    }

    .top {
        transform: translateY(-150px) rotateX(90deg);
        background-image: url('../images/o5.jpg');
    }

    .bottom {
        transform: translateY(150px) rotateX(270deg);
        background-image: url('../images/o4.jpg');
    }

    .front {
        transform: translateZ(150px);
        background-image: url('../images/o6.jpg');
    }

    .text-update {
        font-family: Cambria;
        font-size: 26px;
    }

    @@keyframes rotate {
        0% {
            transform: rotateX(0);
        }

        12.5% {
            transform: rotateY(90deg);
        }

        25% {
            transform: rotateY(270deg);
        }

        37.5% {
            transform: rotateY(270deg);
        }

        50% {
            transform: rotateY(360deg);
        }

        62.5% {
            transform: rotateX(90deg);
        }

        75% {
            transform: rotateX(180deg);
        }

        87.5% {
            transform: rotateX(270deg);
        }

        100% {
            transform: rotateX(360deg);
        }
    }
</style>
<!--[if lt IE 8]>
     <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
 <![endif]-->
<!-- Pre Loader
============================================ -->
<div class="preloader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object object_one"></div>
            <div class="object object_two"></div>
            <div class="object object_three"></div>
        </div>
    </div>
</div>
<div class="wrapper">
    <!--Header section start-->
    <div class="header-section">
        <div class="bg-opacity"></div>
        <div class="top-header sticky-header">
            <div class="top-header-inner">
                <div class="container">
                    <div class="mgea-full-width">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="logo mt-15">
                                    <a href="index.html">@*<img src="images/logo/logo.png" alt="">*@</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile menu start -->
            <div class="mobile-menu-area hidden-lg hidden-md">
                <div class="container">
                    <div class="col-md-12">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="index.html">Anasayfa</a></li>
                                <li><a href="about-us.html">Hakkında</a></li>
                                <li><a href="gallery.html">Galeri</a></li>
                                <li>
                                    <a href="#">pages</a>
                                    <ul>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="booking-information.html">Rezervasyon Bilgileri</a></li>
                                        <li><a href="personal-information.html">Personal Bilgileri</a></li>
                                        <li><a href="payment-information.html">Ödeme Bilgileri</a></li>
                                        <li><a href="booking-done.html">rezervasyon tamamlandı</a></li>
                                        <li><a href="room-booking.html">Oda rezervasyonu</a></li>
                                        <li><a href="news.html">Haberler</a></li>
                                        <li><a href="gallery.html">Galeri</a></li>
                                        <li><a href="staff.html">Personel</a></li>
                                        <li><a href="our-room.html">Odalar</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Iletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Mobile menu end -->
        </div>
        <!--Welcome secton-->
        <div class="welcome-section" style="background-color:currentColor">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5">
                        <div class="booking-box" style="background-color:darkslategray">
                            <div class="booking-title">
                                <h3>Bir oda ayırtın</h3>
                                <p></p>
                            </div>
                            <div class="booking-form">
                                <form action="#">
                                    <div class="b-date arrive mb-15">
                                        <input class="date-picker" type="text" id="girisTarihiRezevarsyon" placeholder="Giriş tarihi">
                                        <i class="mdi mdi-calendar-text"></i>
                                    </div>
                                    <div class="b-date departure mb-15">
                                        <input class="date-picker" type="text" placeholder="Ayrılış tarihi">
                                        <i class="mdi mdi-calendar-text"></i>
                                    </div>
                                    <div class="select-book mb-15">
                                        <select name="book" id="odatype" @*class="select-booking" *@>
                                            <option value="default" selected>Oda Türünü Seçiniz</option>
                                        </select>
                                    </div>
                                    <div class="select-book  mb-30">
                                        <select name="book" id="odalar" @*class="select-booking" *@>
                                            <option value="" selected>Odalar</option>
                                        </select>
                                    </div>
                                    <div class="submit-form">
                                        <button type="button" id="checkMusaitMi"> Müsaitliği kontrol et</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="welcome-text">
                            <h2>
                                <span class="coloring">Moshira Royal PALACE'a</span>  <span>Hoşgeldiniz</span>
                            </h2>
                            <h1 class="cd-headline clip">
                                <span>EN İYİ</span>
                                <span class="cd-words-wrapper coloring">
                                    <b class="is-visible"> Lokasyon</b>
                                    <b>Odalar</b>
                                    <b>Yerler</b>
                                </span>
                            </h1>
                            <p class="welcome-desc"> Moshira Royal Palacenin ayrıcılıklarıyla muhteşem bir konaklamaya hazır olun.</p>
                            <div class="explore">
                                <a href="#">Keşfedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header section end -->
    <!-- searchbar Start -->
    <div class="search-bar animated slideOutUp">
        <div class="table">
            <div class="table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <div class="search-form-wrap">
                                <button class="close-search"><i class="mdi mdi-close"></i></button>
                                <form action="#">
                                    <input type="text" placeholder="Search here..." value="Search here..." />
                                    <button class="search-button" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search bar End -->
    <!--About Section Title start-->
    <div class="about-section text-center ptb-80 white_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-80">
                        <h2>HAKKINDA <span>Moshira Royal Palace</span></h2> <br> <br>
                        <p>
                            Moshira Royal Palace, Kayaoğlu Otelcilik Turizm A.Ş. iştiraki olup Varyos ve Klase otelleri zincirinin bir halkası olup; profesyonel hizmet anlayışı ile Türk turizmine ve yöre halkına en iyi şekilde hizmet etmeyi prensip edinmiştir. Otelimize geldiğiniz andan itibaren kendinizi evinizde gibi hissedeceksiniz.Güleryüzlü personelimiz sizi en iyi şekilde misafir etmek için hizmetinizdedir.

                            Misyonumuz…
                            Yerli ve yabancı konuklarımıza en iyi hizmeti kaliteli bir şekilde sunmaktır. Muğlamızın ve ülkemizin doğal, tarihi, kültürel miras ve değerlerini korumaya odaklı turizm amaçlı; rahat, kaliteli ve güleryüzlü hizmeti; yükselen konuk memnuniyetini sağlamak ve sürdürmek.

                            Her zaman “Rahatınız bizim için önemli” sloganımızla temel ilkelerimizi dikkate alarak topluma en iyi hizmeti vereceğiz.

                            Vizyonumuz…
                            Yerli ve yabancı konuklarımızın ve seyahat firmalarının ilk aklına gelen bir marka olmak ve bu markayı misyonumuzu ve temel ilkelerimizi benimseyerek lider konumunda taşımaktır.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="about-chondo">
                        <div class="about-member">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--About Section end-->
    <!--Our Room start-->
    <div class="our-room text-center ptb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-75">
                        <h2><span>Odalarımız</span></h2>
                        <hr />
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="our-room-show">
                <div class="row">
                    <div class="carousel-list">
                        <div class="col-md-4">
                            <div class="single-room">
                                <div class="room-img">
                                    <a href="#"><img src="images/room/room1.jpg" alt=""></a>
                                </div>
                                <div class="room-desc">
                                    <div class="room-name">
                                        <h3><a href="#">Tek kişilik oda</a></h3>
                                    </div>
                                    <div class="room-rent">
                                        <h5>€ 125 / <span>Gecelik</span></h5>
                                    </div>
                                    <div class="room-book">
                                        <a id="odaTekKisilik" data-toggle="modal" data-target="#modalTekKisilik">Rezerve Et</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-room">
                                <div class="room-img">
                                    <a href="#"><img src="images/room/room2.jpg" alt=""></a>
                                </div>
                                <div class="room-desc">
                                    <div class="room-name">
                                        <h3><a href="#">Superlüks oda</a></h3>
                                    </div>
                                    <div class="room-rent">
                                        <h5>€ 250 / <span>Gecelik</span></h5>
                                    </div>
                                    <div class="room-book">
                                        <a id="odaKralDairesi" data-toggle="modal" data-target="#modalKralDairesi">Rezerve Et</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-room">
                                <div class="room-img">
                                    <a href="#"><img src="images/room/room3.jpg" alt=""></a>
                                </div>
                                <div class="room-desc">
                                    <div class="room-name">
                                        <h3><a href="#">Çift Kişilik Oda</a></h3>
                                    </div>
                                    <div class="room-rent">
                                        <h5>€ 190 / <span>Gecelik</span></h5>
                                    </div>
                                    <div class="room-book">
                                        <a id="odaCiftKisilik" data-toggle="modal" data-target="#modalCiftKisilik">Rezerve Et</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Our room end-->
    <!--Our services start-->
    <!--Our services end-->
    <!--Our staff start-->
    <div class="our-staff text-center pb-80 white_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-80">
                        <h2><span>Personelimiz</span></h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="staff-list">
                <div class="row">
                    <div class="carousel-list">
                        <div class="col-md-4">
                            <div class="single-staff">
                                <div class="sraff-inner">
                                    <img src="images/staff/staff1.jpg" alt="">
                                    <div class="staff-title">
                                        <span class="plus"></span>
                                        <h2>Carlos Abblosaw</h2>
                                        <h5>Rezervasyon Sorumlusu</h5>
                                    </div>
                                    <div class="staff-hover-desc">
                                        <h2>Carlos Abblosaw</h2>
                                        <h5>Rezervasyon Sorumlusu</h5>
                                        <p>Güler yüzlü hizmet için sizi kapıda bekliyoruz</p>
                                        <div class="scoial_icons">
                                            <a href="#"><i class="mdi mdi-facebook"></i></a>
                                            <a href="#"><i class="mdi mdi-rss"></i></a>
                                            <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                            <a href="#"><i class="mdi mdi-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-staff">
                                <div class="sraff-inner">
                                    <img src="images/staff/staff2.jpg" alt="">
                                    <div class="staff-title">
                                        <span class="plus"></span>
                                        <h2>Frankie Varuaso</h2>
                                        <h5>Otel Müdürü</h5>
                                    </div>
                                    <div class="staff-hover-desc">
                                        <h2>Frankie Varuaso</h2>
                                        <h5>Otel Müdürü</h5>
                                        <p>Dünyanın sayılı otel müdürlerinden olan müdürümüz sizinle her daim ilgilenecektir !</p>
                                        <div class="scoial_icons">
                                            <a href="#"><i class="mdi mdi-facebook"></i></a>
                                            <a href="#"><i class="mdi mdi-rss"></i></a>
                                            <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                            <a href="#"><i class="mdi mdi-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-staff">
                                <div class="sraff-inner">
                                    <img src="images/staff/staff3.jpg" alt="">
                                    <div class="staff-title">
                                        <span class="plus"></span>
                                        <h2>Joffie Thanks</h2>
                                        <h5>İnsan Kaynakları Müdürü</h5>
                                    </div>
                                    <div class="staff-hover-desc">
                                        <h2>Joffie Thanks</h2>
                                        <h5>İnsan Kaynakları Müdürü</h5>
                                        <p>20 seneyi geçik süredir bizim ile çalışan ve güzel yüzlü hizmetini hiçbir zaman eksik etmeyen müdürümüz ile tanışın !</p>
                                        <div class="scoial_icons">
                                            <a href="#"><i class="mdi mdi-facebook"></i></a>
                                            <a href="#"><i class="mdi mdi-rss"></i></a>
                                            <a href="#"><i class="mdi mdi-google-plus"></i></a>
                                            <a href="#"><i class="mdi mdi-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalTekKisilik" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Tek Kişilik Oda</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-6">

                    <div class="b-date arrive mb-15">
                        <input class="date-picker" type="text" id="girisTekli" placeholder="Giriş tarihi">
                        <i class="mdi mdi-calendar-text"></i>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="b-date departure mb-15">
                        <input class="date-picker" type="datetime" id="cikisTekli" placeholder="Ayrılış tarihi">
                        <i class="mdi mdi-calendar-text"></i>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-default" id="tekliOdaRezervasyonOlustur">Rezervasyon Oluşturmaya Git</button>
            </div>
        </div>

    </div>
</div>

<div id="modalCiftKisilik" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->7

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Çift Kişilik Oda</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-6">

                    <div class="b-date arrive mb-15">
                        <input class="date-picker" type="text" id="girisCiftli" placeholder="Giriş tarihi">
                        <i class="mdi mdi-calendar-text"></i>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="b-date departure mb-15">
                        <input class="date-picker" type="datetime" id="cikisCiftli" placeholder="Ayrılış tarihi">
                        <i class="mdi mdi-calendar-text"></i>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-default" id="CiftOdaRezervasyonOlustur">Kaydet</button>
            </div>
        </div>

    </div>
</div>
<div id="modalKralDairesi" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Çift Kişilik Oda</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-6">

                    <div class="b-date arrive mb-15">
                        <input class="date-picker" type="text" id="girisKralDairesi" placeholder="Giriş tarihi">
                        <i class="mdi mdi-calendar-text"></i>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="b-date departure mb-15">
                        <input class="date-picker" type="datetime" id="cikisKralDairesi" placeholder="Ayrılış tarihi">
                        <i class="mdi mdi-calendar-text"></i>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-default" id="kralDairesiRezervasyonOlustur">Kaydet</button>
            </div>
        </div>

    </div>
</div>


@section Scripts{

    <script>

        function toUTF8Array(str) {
            var utf8 = [];
            for (var i = 0; i < str.length; i++) {
                var charcode = str.charCodeAt(i);
                if (charcode < 0x80) utf8.push(charcode);
                else if (charcode < 0x800) {
                    utf8.push(0xc0 | (charcode >> 6),
                        0x80 | (charcode & 0x3f));
                }
                else if (charcode < 0xd800 || charcode >= 0xe000) {
                    utf8.push(0xe0 | (charcode >> 12),
                        0x80 | ((charcode >> 6) & 0x3f),
                        0x80 | (charcode & 0x3f));
                }
                // surrogate pair
                else {
                    i++;
                    // UTF-16 encodes 0x10000-0x10FFFF by
                    // subtracting 0x10000 and splitting the
                    // 20 bits of 0x0-0xFFFFF into two halves
                    charcode = 0x10000 + (((charcode & 0x3ff) << 10)
                        | (str.charCodeAt(i) & 0x3ff));
                    utf8.push(0xf0 | (charcode >> 18),
                        0x80 | ((charcode >> 12) & 0x3f),
                        0x80 | ((charcode >> 6) & 0x3f),
                        0x80 | (charcode & 0x3f));
                }
            }
            return utf8;
        }
        var formatter = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'EUR',

            // These options are needed to round to whole numbers if that's what you want.
            //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
            //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
        });
        var dates = {
            convert: function (d) {
                // Converts the date in d to a date-object. The input can be:
                //   a date object: returned without modification
                //  an array      : Interpreted as [year,month,day]. NOTE: month is 0-11.
                //   a number     : Interpreted as number of milliseconds
                //                  since 1 Jan 1970 (a timestamp)
                //   a string     : Any format supported by the javascript engine, like
                //                  "YYYY/MM/DD", "MM/DD/YYYY", "Jan 31 2009" etc.
                //  an object     : Interpreted as an object with year, month and date
                //                  attributes.  **NOTE** month is 0-11.
                return (
                    d.constructor === Date ? d :
                        d.constructor === Array ? new Date(d[0], d[1], d[2]) :
                            d.constructor === Number ? new Date(d) :
                                d.constructor === String ? new Date(d) :
                                    typeof d === "object" ? new Date(d.year, d.month, d.date) :
                                        NaN
                );
            },
            compare: function (a, b) {
                // Compare two dates (could be of any type supported by the convert
                // function above) and returns:
                //  -1 : if a < b
                //   0 : if a = b
                //   1 : if a > b
                // NaN : if a or b is an illegal date
                // NOTE: The code inside isFinite does an assignment (=).
                return (
                    isFinite(a = this.convert(a).valueOf()) &&
                        isFinite(b = this.convert(b).valueOf()) ?
                        (a > b) - (a < b) :
                        NaN
                );
            },
            inRange: function (d, start, end) {
                // Checks if date in d is between dates in start and end.
                // Returns a boolean or NaN:
                //    true  : if d is between start and end (inclusive)
                //    false : if d is before start or after end
                //    NaN   : if one or more of the dates is illegal.
                // NOTE: The code inside isFinite does an assignment (=).
                return (
                    isFinite(d = this.convert(d).valueOf()) &&
                        isFinite(start = this.convert(start).valueOf()) &&
                        isFinite(end = this.convert(end).valueOf()) ?
                        start <= d && d <= end :
                        NaN
                );
            }
        }   
        $(document).ready(function () {
            $('#checkMusaitMi').on('click', function () {
                var onlyRezerveDateGiris = $("#girisTarihiRezevarsyon").val();
                var date = new Date(onlyRezerveDateGiris);
                var odaRezervationPick = $("#odalar").val();
                $.ajax({
                    type: "POST",
                    url: "/Home/RezervasyonMusaitMi",
                    data: {
                        roomId: odaRezervationPick,
                        girisGun: onlyRezerveDateGiris
                    },
                    dataType: 'json',
                    processData: true,
                    success: function (result) {
                        if (result === true) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Müsait',
                                text: 'Randevu Oluşturabilirsiniz!'

                            })
                                    }
                        else if (result == false) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Üzgünüz',
                                text: 'O Tarihlerde Bu Odamız Doludur!',
                            })
                        }
                    }
                });
            });

            var lst2 = $('#odalar');
            var odaTuru = document.querySelector("#odatype");
            var secim1 = document.querySelector("#odalar");
            if ($('#odatype').val() == 'default') {
                lst2.empty();
                lst2.append($("<option></option>").val(99).html("Önce Oda Türünü Seçin"));
                //secim1.disabled = true;
            }
            $('#odatype').change(function () {
                var _odaIdsi = $('#odatype').val();
                console.log("değiştim idsi :" + _odaIdsi);
                lst2.empty();
                //lst2.append($("<option></option>").val(99).html("brr skrt"));
                $.ajax({
                    type: "POST",
                    url: "/Home/OdalariListele",
                    data: {
                        odaIdsi: _odaIdsi
                    },
                    dataType: 'json',
                    processData: true,
                    success: function (result) {
                        var liste = $('#odalar');
                        console.log(result)
                        $.each(result.rooms, function (i, value) {
                            id = value.RoomId;
                            odaTurAdi = value.roomNumber;
                            liste.append($("<option></option>").val(id).html(odaTurAdi));
                        })
                    }
                });
            })
        }); $.ajax({
            type: "GET",
            url: "/Home/ComboBoxaListele",
            dataType: 'json',
            processData: true,
            success: function (result) {
                var lst1 = $('#odatype');
                console.log(result)
                $.each(result.roomTypes, function (i, value) {
                    id = value.id;
                    odaTurAdi = value.odaTurAdi;
                    lst1.append($("<option></option>").val(id).html(odaTurAdi));
                })
            }
        });

        function yolla(odaSecim, kacGun, gelisGun, gidisGun) {
            window.location = 'Home/paymentstart?&odaType=' + odaSecim + '&gxL=' + kacGun + '&arriveDt=' + gelisGun + '&leaveDt=' + gidisGun;
        }
        $('#tekliOdaRezervasyonOlustur').on('click', function () {
            let a = $('#girisTekli').val();
            let b = $('#cikisTekli').val();
            var date1 = new Date(a);
            var date2 = new Date(b);
            var compareResult = dates.compare(date1, date2);
            var zaman_Farki = date2.getTime() - date1.getTime();
            var gun_Farki = zaman_Farki / (1000 * 3600 * 24);
            let gunlukOtelParasi = 125;
            var calculate_totalmoney = gunlukOtelParasi * gun_Farki;
            let moneyTotal = formatter.format(calculate_totalmoney);
            if (a == '' || b == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Gün Seçmediniz!',
                })
            } else if (a == '' || b == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Gün Seçmediniz!',
                })
            } else if (compareResult == 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Giriş Günü Çıkış Gününden Büyük Olamaz!',
                })
            } else {
                Swal.fire({
                    title: 'Ödeme Sayfasına Geçmek istiyor musunuz ?',
                    text: "Toplam Ödeme Tutarınız " + "'" + moneyTotal + "'" + " Tutuyor Onaylıyor Musunuz",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Kabul Ediyorum!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Ödeme Sayfasına Yönlendiriliyorsunuz!',
                            '',
                            'success',

                        ),
                            window.setTimeout(yolla(1, gun_Farki, a, b), 303300);
                    }
                })
            }
        });

        $('#CiftOdaRezervasyonOlustur').on('click', function () {
            let a = $('#girisCiftli').val();
            let b = $('#cikisCiftli').val();
            var date1 = new Date(a);
            var date2 = new Date(b);
            var compareResult = dates.compare(date1, date2);
            var zaman_Farki = date2.getTime() - date1.getTime();
            var gun_Farki = zaman_Farki / (1000 * 3600 * 24);
            let gunlukOtelParasi = 190.99;
            var calculate_totalmoney = gunlukOtelParasi * gun_Farki;
            let moneyTotal = formatter.format(calculate_totalmoney);
            if (a == '' || b == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Gün Seçmediniz!',
                })
            } else if (a == '' || b == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Gün Seçmediniz!',
                })
            } else if (compareResult == 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Giriş Günü Çıkış Gününden Büyük Olamaz!',
                })
            } else {
                Swal.fire({
                    title: 'Ödeme Sayfasına Geçmek istiyor musunuz ?',
                    text: "Toplam Ödeme Tutarınız " + "'" + moneyTotal + "'" + " Tutuyor Onaylıyor Musunuz",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Kabul Ediyorum!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Ödeme Sayfasına Yönlendiriliyorsunuz!',
                            '',
                            'success',

                        ),
                            window.setTimeout(yolla(2, gun_Farki, a, b), 3000)


                    }
                })
            }
        });

        $('#kralDairesiRezervasyonOlustur').on('click', function () {
            let a = $('#girisKralDairesi').val();
            let b = $('#cikisKralDairesi').val();
            var date1 = new Date(a);
            var date2 = new Date(b);
            var compareResult = dates.compare(date1, date2);
            var zaman_Farki = date2.getTime() - date1.getTime();
            var gun_Farki = zaman_Farki / (1000 * 3600 * 24);
            let gunlukOtelParasi = 250.99;
            var calculate_totalmoney = gunlukOtelParasi * gun_Farki;
            let moneyTotal = formatter.format(calculate_totalmoney);
            var deneme = toUTF8Array(a);
            var deneme1 = toUTF8Array(b);
            console.log('deneme : ' + a);
            console.log('deneme2 : ' + b);
            if (a == '' || b == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Gün Seçmediniz!',
                })
            } else if (a == '' || b == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Gün Seçmediniz!',
                })
            } else if (compareResult == 1) {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Giriş Günü Çıkış Gününden Büyük Olamaz!',
                })
            } else {
                Swal.fire({
                    title: 'Ödeme Sayfasına Geçmek istiyor musunuz ?',
                    text: "Toplam Ödeme Tutarınız " + "'" + moneyTotal + "'" + " Tutuyor Onaylıyor Musunuz",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Kabul Ediyorum!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Ödeme Sayfasına Yönlendiriliyorsunuz!',
                            '',
                            'success',

                        ),
                            window.setTimeout(yolla(3, gun_Farki, a, b), 3500)
                    }
                })
            }
        });
    </script>
}

